//* Variables ----------------------------------------------------------------->
// Colors --------------------------------------------------------------------->
$primary: #e66300;
$secondary: #0a4990;
$red: #c62828;
$green: #2e7d32;
$dark: #424242;
$light: #f2f2f2;
$white: #ffffff;
$black: #000000;
$disabled: #777777;
// Border radius -------------------------------------------------------------->
$border-radius: 4px;
// Shadows -------------------------------------------------------------------->
$box-shadow: 0 1px 3px rgba($black, 0.2), 0 1px 2px rgba($black, 0.12), 0 1px 1px rgba($black, 0.14);
// Transition ----------------------------------------------------------------->
$transition: all 0.25s ease-in-out;

//! Base----------------------------------------------------------------------->
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  text-align: center;
  position: relative;
  padding: 0 1rem;
  background: linear-gradient(to bottom, $primary 105px, $light 0%);
  color: $dark;

  @media (min-width: 768px) {
    padding: 0 25%;
  }
}

body.status {
  background: linear-gradient(to bottom, $primary 80px, $light 0%);
}

input,
textarea,
button,
select,
a {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

input,
input:active,
input:focus,
button,
button:active,
button:focus,
label,
label:active,
label:focus {
  border: none;
  outline: none;
}

input:disabled,
button:disabled,
label:disabled {
  color: $disabled;
}

a {
  color: inherit;
  font-weight: 700;
  outline: none;
}

h1 {
  font-size: 0;
  width: 1px;
  height: 1px;
  display: inline-block;
  overflow: hidden;
  position: absolute !important;
  border: 0 !important;
  padding: 0 !important;
  margin: 0 !important;
  clip: rect(1px, 1px, 1px, 1px);
}

ion-icon {
  font-size: 1.5rem;
}

//! Layout -------------------------------------------------------------------->
// Wrappers ------------------------------------------------------------------->
.overflow {
  overflow-x: hidden;
  position: relative;
  margin: 0 -1rem;
  padding: 0 1rem;
}

.main {
  min-height: calc(100vh - 80px);
}

// Header --------------------------------------------------------------------->
.header {
  height: 80px;
  z-index: 99;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .logo {
    width: 60%;
    height: 40px;
    background-image: url(img/logo.svg);
    background-clip: content-box;
    background-repeat: no-repeat;
    background-position: center left;
  }
}

// Search --------------------------------------------------------------------->
.search {
  &__box {
    display: inline-flex;
    background-color: $white;
    color: $dark;
    box-shadow: $box-shadow;
    border-radius: 50px;
    padding: 5px;
    transition: $transition;
    width: 100%;

    &:hover,
    &:focus {
      outline: none;
    }

    .btn {
      box-shadow: none;
    }
  }
  &__input {
    background-color: $white;
    width: calc(100% - 80px);
    height: 40px;
    text-align: left;

    &::-webkit-input-placeholder {
      color: $disabled;
    }
  }

  &__fixed {
    &.btn--fixed {
      color: $red;
    }
  }

  &__location.watching {
    background-color: $secondary;
    color: $white;
  }
}

// Response ------------------------------------------------------------------->
.response {
  font-size: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1.5rem auto;

  &__header {
    text-transform: uppercase;
    font-size: 1.4rem;
  }

  &__name {
    text-transform: uppercase;
    font-size: 1.2rem;
  }

  &__cards {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1rem auto;

    .card {
      background-color: $white;
      color: $dark;
      width: 100%;
      min-height: 60px;
      border-radius: $border-radius;
      padding: 1rem;
      box-shadow: $box-shadow;
      font-size: 1.2rem;
      margin-bottom: 1rem;
      display: flex;
      align-items: center;
      text-align: left;

      &:last-of-type {
        margin-bottom: 0;
      }

      &__icon {
        margin-right: 0.5rem;
        display: flex;
        justify-content: center;
        align-items: center;

        ion-icon {
          font-size: 2rem;
        }
      }

      &__numb {
        margin-right: 0.5rem;
        text-align: right;
        font-weight: 700;
        min-width: 1.8rem;
      }

      &--available {
        color: $green;
      }

      &--disabled {
        color: $red;
      }
    }
  }

  &__time {
    font-size: 0.8rem;
    font-weight: 700;
  }
}

// CTA ------------------------------------------------------------------------>
.cta {
  display: inline-flex;
  justify-content: space-between;
  width: 100%;

  .btn {
    width: 50px;
    height: 50px;
    background-color: $secondary;
    color: $white;

    &--fixed {
      background-color: $red;
    }

    &--disabled {
      background-color: $disabled;
      opacity: 0.8;
      pointer-events: none;
    }
  }
}

// Side menu ------------------------------------------------------------------>
.menu {
  color: $light;
  background-color: rgba($black, 0.8);
  position: absolute;
  top: 0;
  left: 100vw;
  height: 100vh;
  width: 100%;
  padding: 80px 1rem 2rem 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 9;
  backdrop-filter: blur(10px);
  transition: $transition;

  &.menu--show {
    left: 0;
  }

  .nav {
    list-style-type: none;
    text-align: left;
    color: $primary;
    font-size: 1.2rem;

    &__link {
      margin-bottom: 1rem;

      a {
        text-decoration: none;
      }
    }
    &__text {
      color: $white;
      font-size: 1rem;
      margin-bottom: 0.5rem;
    }
  }
}

.toggler {
  z-index: 99;

  .toggler__icon {
    background-color: $dark;
    height: 3px;
    width: 24px;
    position: relative;

    &:before,
    &:after {
      content: "";
      background-color: $dark;
      height: 3px;
      width: 100%;
      position: absolute;
      left: 0;
      transition: transform 0.1s ease-in-out, opacity 0.1s linear;
    }
    &:before {
      top: -6px;
    }
    &:after {
      top: 6px;
    }
    &.menu--open {
      transform: rotate(45deg);
      &::before {
        opacity: 0;
      }
      &::after {
        transform: rotate(90deg) translate(-6px);
      }
    }
  }
}

// Footer --------------------------------------------------------------------->
.footer {
  &__author {
    span,
    ion-icon,
    a {
      vertical-align: middle;
      display: inline-block;
    }

    ion-icon[name="heart"] {
      color: $red;
      margin: 0 0.2rem;
    }
  }

  &__social {
    &.btn {
      text-decoration: none;
      width: 60%;
      margin: 1.5rem auto;

      ion-icon[name="logo-github"] {
        margin-right: 0.5rem;
      }
    }
  }
  &__text {
    font-size: 0.8rem;
    margin-bottom: 0.5rem;
  }
}

//! Module -------------------------------------------------------------------->
// Updating overlay ----------------------------------------------------------->
.updating {
  background-color: rgba($black, 0.8);
  color: $light;
  backdrop-filter: blur(10px);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 999;
  visibility: visible;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &--hide {
    visibility: hidden;
  }

  &__icon {
    .line {
      display: inline-block;
      width: 15px;
      height: 15px;
      border-radius: 15px;
      background-color: $primary;

      &:nth-last-child(1) {
        animation: loading 0.6s 0.1s linear infinite;
      }
      &:nth-last-child(2) {
        animation: loading 0.6s 0.2s linear infinite;
      }
      &:nth-last-child(3) {
        animation: loading 0.6s 0.3s linear infinite;
      }
    }
  }

  &__text {
    font-size: 2rem;
    margin-top: 2rem;
  }
}

// Buttons -------------------------------------------------------------------->
.btn {
  position: relative;
  background-color: $white;
  color: $dark;
  box-shadow: $box-shadow;
  width: 40px;
  height: 40px;
  font-size: 1rem;
  cursor: pointer;
  overflow: hidden;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  transition: $transition;

  &--ripple {
    &::before {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      width: 0;
      height: 0;
      transform: translate(-50%, -50%);
      border-radius: 50%;
      background-color: currentColor;
      visibility: hidden;
      z-index: 2;
    }
    &:not(:active):before {
      animation: ripple 0.4s cubic-bezier(0, 0, 0.2, 1);
      transition: visibility 0.4s step-end;
    }
    &:active:before {
      visibility: visible;
    }
  }
}

//! State --------------------------------------------------------------------->
// Loading icon animation ----------------------------------------------------->
@keyframes loading {
  0% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(0, 15px);
  }
  100% {
    transform: translate(0, 0);
  }
}

// Button ripple animation ---------------------------------------------------->
@keyframes ripple {
  from {
    width: 0;
    height: 0;
    opacity: 0.5;
  }
  to {
    width: 150px;
    height: 150px;
    opacity: 0;
  }
}

// Search-bos error animation ------------------------------------------------->
@keyframes shake {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }
  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }
  30%,
  50%,
  70% {
    transform: translate3d(-4px, 0, 0);
  }
  40%,
  60% {
    transform: translate3d(4px, 0, 0);
  }
}

.error {
  animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

.error > .search__input::-webkit-input-placeholder {
  color: $red;
}

// TABLES
/* 
Generic Styling, for Desktops/Laptops 
*/
table {
  width: 100%;
  border-collapse: collapse;
  margin: 1rem 0;
}
/* Zebra striping */
tr:nth-of-type(odd) {
  background: #eee;
}
th {
  background: #333;
  color: white;
  font-weight: bold;
}
td,
th {
  font-size: 0.8rem;
  padding: 6px;
  border: 1px solid #ccc;
  text-align: left;
}
