//* Variables ----------------------------------------------------------------->
// Colors --------------------------------------------------------------------->
$primary: #e66300;
$secondary: #0a4990;
$red: #e53935;
$green: #43a047;
$dark: #424242;
$light: #f2f2f2;
$white: #ffffff;
$black: #000000;
$disabled: #777777;
// Layout --------------------------------------------------------------------->
$m0: 0;
$m1: 8px;
$m2: $m1 * 2;
$m100: $m1 * 45;
// Effects -------------------------------------------------------------------->
$border-radius: 4px;
$box-shadow: 0 1px 3px rgba($black, 0.2), 0 1px 2px rgba($black, 0.12), 0 1px 1px rgba($black, 0.14);
$transition: all 0.25s ease-in-out;

//! Base----------------------------------------------------------------------->
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  //user-select: none;
}

body {
  position: relative;
  background: $light;
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  color: $dark;
}

header,
nav,
main,
section,
footer {
  width: 100%;
}

input,
textarea,
button,
select,
a {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

input,
input:active,
input:focus,
button,
button:active,
button:focus,
label,
label:active,
label:focus {
  border: none;
  outline: none;
}

input:disabled,
button:disabled,
label:disabled {
  color: $disabled;
}

a {
  outline: none;
  text-decoration: none;
  color: $primary;
}

h1 {
  font-size: 0;
  width: 1px;
  height: 1px;
  display: inline-block;
  overflow: hidden;
  position: absolute !important;
  border: 0 !important;
  padding: 0 !important;
  margin: 0 !important;
  clip: rect(1px, 1px, 1px, 1px);
}

// Header --------------------------------------------------------------------->
.header {
  background-color: $primary;
  color: $light;
  z-index: 99;
  position: fixed;
  top: 0;

  &__container {
    width: $m100;
    margin: $m0 auto;
    padding: $m2;
  }

  &__logo {
    display: block;
    width: 100%;
    max-width: $m100;
    text-align: center;

    img {
      height: 20px;
    }
  }
}

// Search --------------------------------------------------------------------->
.search {
  background-color: $primary;
  color: $light;
  transition: $transition;
  margin-top: 56px;
  height: 56px;

  &--hidden {
    margin-top: 0;
  }

  &__container {
    width: $m100;
    margin: $m0 auto;
    padding: $m1 $m2;
  }

  &__form {
    width: 100%;
    display: flex;
    flex-direction: row;
  }

  &__box {
    border-radius: 50px 0 0 50px;
    width: 100%;
    height: 40px;
    padding: $m0 $m2;
  }

  &__btn {
    background-color: $white;
    color: $dark;
    display: block;
    border-radius: 0 50px 50px 0;
    width: 40px;
    height: 40px;
  }
}

// Bottom navigation ---------------------------------------------------------->
.nav {
  background-color: $primary;
  color: $light;
  z-index: 99;
  position: fixed;
  bottom: 0;
  transition: $transition;

  &--hidden {
    bottom: -56px;
  }

  &__container {
    width: $m100;
    margin: $m0 auto;
    padding: $m0;
  }

  &__bottom {
    width: 100%;
    margin: 0;
    list-style: none;
    display: flex;
    justify-content: space-between;
  }

  &__item {
    width: 120px;
    min-width: 80px;
  }

  &__link {
    padding: $m1;
    color: rgba($light, 0.74);
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.4px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &.active {
      color: rgba($light, 1);
      border-bottom: 2px solid $light;
    }
  }

  &__icon {
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

// Response ------------------------------------------------------------------->
.response {
  margin-bottom: 56px;
  width: $m100;
  min-height: 100vh;
  margin: $m0 auto;
  &__container {
    padding: $m2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__cards {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .card {
      position: relative;
      background-color: $white;
      color: $dark;
      width: 100%;
      border-radius: $border-radius;
      box-shadow: $box-shadow;
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      justify-content: flex-start;
      align-items: stretch;
      align-content: stretch;
      margin-bottom: 16px;

      &--hidden {
        display: none;
      }

      &__header {
        padding: $m2;
        display: flex;
        flex-direction: column;
        justify-content: center;

        .card__title {
          color: $black;
          font-size: 24px;
          font-weight: 400;
        }

        .card__subtitle {
          font-size: 14px;
          font-weight: 400;
          letter-spacing: 0.25px;
          text-transform: uppercase;
        }
      }

      &__media {
        canvas {
          padding: $m0 $m2;
        }
      }

      &__data {
        padding: $m2;
        display: flex;
        justify-content: space-evenly;

        .icon {
          display: block;
          width: 34px;
          height: 34px;
          background-color: rgba($dark, 0.2);
          border-radius: 50%;
          display: flex;
          justify-content: center;
          align-items: center;
          margin-right: 8px;

          .material-icons {
            font-size: 1rem;
          }

          &.available {
            background-color: rgba($green, 0.2);
          }
          &.disabled {
            background-color: rgba($red, 0.2);
          }
        }

        .data--container {
          display: inline-flex;
          align-items: center;
          min-width: 90px;

          .text {
            display: flex;
            flex-direction: column;
            font-size: 1.2rem;
            font-weight: 500;

            small {
              font-size: 0.5rem;
              text-transform: uppercase;
            }
          }
        }
        .available {
          color: $green;
        }
        .disabled {
          color: $red;
        }

        &.active--stations {
          background-color: rgba($green, 0.2);
          color: $green;
          font-size: 1.4rem;
        }
      }

      &__actions {
        text-align: right;
        padding: $m1;

        &.float {
          position: absolute;
          right: $m2;
          top: $m2;
          padding: $m1;

          a {
            display: block;
            color: $dark;
          }
        }
      }
    }
  }

  &__btn {
    background-color: $secondary;
    color: $light;
  }

  &__time {
    font-size: 0.8rem;
  }
}

// Footer --------------------------------------------------------------------->
.footer {
  background-color: $dark;
  color: $light;
  text-align: center;

  a {
    color: $light;
    text-decoration: underline;
  }

  &__container {
    width: $m100;
    margin: $m0 auto;
    padding: $m2;
  }

  &__author {
    font-weight: 500;
    margin: $m2 auto;
    min-height: 28px;
    display: inline-flex;
    align-items: center;

    a,
    span {
      margin: 0 4px;
    }

    span {
      color: $red;
    }
  }

  &__text {
    font-size: 0.8rem;
    margin: $m2 auto;
  }

  a.footer__btn {
    background-color: $light;
    color: $dark;
    text-decoration: none;
  }
}

//! Module -------------------------------------------------------------------->
// Updating overlay ----------------------------------------------------------->
.updating {
  background-color: $white;
  color: $dark;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 9;
  //visibility: visible;
  opacity: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: $transition;
  border-radius: $border-radius;

  &--hidden {
    //visibility: hidden;
    opacity: 0;
    z-index: -1;
  }

  &__icon {
    .line {
      display: inline-block;
      width: 15px;
      height: 15px;
      border-radius: 15px;
      background-color: $primary;

      &:nth-last-child(1) {
        animation: loading 0.6s 0.1s linear infinite;
      }
      &:nth-last-child(2) {
        animation: loading 0.6s 0.2s linear infinite;
      }
      &:nth-last-child(3) {
        animation: loading 0.6s 0.3s linear infinite;
      }
    }
  }

  &__text {
    font-size: 2rem;
    margin-top: 2rem;
  }
}

// Buttons -------------------------------------------------------------------->
.btn {
  position: relative;
  cursor: pointer;
  overflow: hidden;
  transition: $transition;
  border-radius: $border-radius;
  display: inline-block;
  padding: $m1 $m2;
  height: 36px;
  font-size: 14px;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: 1.25px;
  text-transform: uppercase;

  i {
    margin-right: $m1;
  }

  &--primary {
    background-color: $secondary;
    color: $white;
    width: 100%;
    text-align: center;
  }

  &--ripple {
    &::before {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      width: 0;
      height: 0;
      transform: translate(-50%, -50%);
      border-radius: 50%;
      background-color: currentColor;
      visibility: hidden;
      z-index: 2;
    }
    &:not(:active):before {
      animation: ripple 0.4s cubic-bezier(0, 0, 0.2, 1);
      transition: visibility 0.4s step-end;
    }
    &:active:before {
      visibility: visible;
    }
  }
}

//! State --------------------------------------------------------------------->
// Loading icon animation ----------------------------------------------------->
@keyframes loading {
  0% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(0, 15px);
  }
  100% {
    transform: translate(0, 0);
  }
}

// Button ripple animation ---------------------------------------------------->
@keyframes ripple {
  from {
    width: 0;
    height: 0;
    opacity: 0.5;
  }
  to {
    width: 150px;
    height: 150px;
    opacity: 0;
  }
}

// Search-bos error animation ------------------------------------------------->
@keyframes shake {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }
  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }
  30%,
  50%,
  70% {
    transform: translate3d(-4px, 0, 0);
  }
  40%,
  60% {
    transform: translate3d(4px, 0, 0);
  }
}

.error {
  animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

.error > .search__input::-webkit-input-placeholder {
  color: $red;
}

// TABLES
table,
th,
td {
  border: none;
}
table {
  width: 100%;
  border-collapse: collapse;
}

tr:nth-of-type(odd) {
  background: #eee;
}
th {
  background: $secondary;
  color: white;
}
td,
th {
  font-size: 0.8rem;
  padding: 6px;
  text-transform: uppercase;
}
td:nth-child(2) {
  text-align: center;
}
