* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  color: inherit;
  font-weight: 600;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: #fff;
  background-color: #e66300;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  min-height: 100vh;
  padding: 0 2rem;
  text-align: center;
  position: relative;
}

/* HEADER */
.logo {
  padding: 1.5rem 0;
}

/* RESPONSE */
.response {
  font-size: 2rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.updating {
  color: #333;
}

h1 {
  font-size: 1.6rem;
  margin-bottom: 1rem;
}

.card {
  background-color: #fff;
  color: #333;
  width: 100%;
  min-height: 100px;
  margin: 0 1rem 1rem 1rem;
  border-radius: 6px;
  padding: 1rem;
  text-transform: uppercase;
  font-size: 1.2rem;
  font-weight: 600;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card strong {
  font-size: 1.6rem;
}

.card.available {
  color: #4caf50;
}

.card.disabled {
  color: #f44336;
}

/* SEARCH */
.search {
  position: relative;
  margin-bottom: 1rem;
  width: 100%;
  display: flex;
}

.search-input {
  color: #333;
  border: none;
  padding: 7px 18px;
  height: 40px;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
  width: 80%;
  text-align: center;
}

.search-btn {
  color: #fff;
  border: none;
  background-color: #0a4990;
  padding: 7px 18px;
  height: 40px;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  cursor: pointer;
  width: 20%;
}

/* REFRESH */
.refresh {
  position: relative;
  margin-bottom: 1rem;
  width: 100%;
}

.refresh-btn {
  color: #fff;
  border: none;
  background-color: #0a4990;
  padding: 7px 18px;
  height: 40px;
  border-radius: 6px;
  cursor: pointer;
  width: 100%;
}

/* FOOTER */
footer {
  padding: 1rem 0;
}

footer .author {
  margin-bottom: 3rem;
  font-size: 0.9rem;
}

footer .author i {
  color: #b71c1c;
}

.social a {
  text-decoration: none;
  font-weight: 600;
  padding: 7px 18px;
  border-radius: 6px;
  cursor: pointer;
  background-color: #fff;
  color: #0a4990;
  display: block;
}

.disclaimer {
  width: 100%;
  color: #fff;
  font-size: 0.8rem;
  margin-top: 3rem;
  text-align: justify;
}

/* MEDIA QUERIES */
@media all and (min-width: 768px) {
  .response {
    font-size: 2rem;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .card {
    min-height: 200px;
    font-size: 1.6rem;
  }

  .card strong {
    font-size: 2rem;
  }

  .refresh {
    width: 25%;
  }

  footer .author {
    font-size: 1.2rem;
  }
}
