/** VARIABLES ----------------------------------------------------------------*/
/* prettier-ignore */
:root {
  /* COLORS ------------------------------------------------------------------*/
  --color-primary:   #e66300;
  --color-secondary: #0a4990;
  --color-black:     #212121;
  --color-white:     #ffffff;
  --color-green:     #2e7d32;
  --color-red:       #c62828;
  /* BORDERS -----------------------------------------------------------------*/
  --border-radius:   6px;
  --box-shadow:      0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.20);
}

/** RESET & DEFAULT STYLES ---------------------------------------------------*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  text-align: center;
}

input,
input:active,
input:focus,
button,
button:active,
button:focus,
label,
label:active,
label:focus {
  border: none;
  outline: none;
  font-size: 1rem;
}

a {
  color: inherit;
  font-weight: 700;
}

.viewport-wrapper {
  min-height: 100vh;
}

body {
  color: var(--color-white);
  background-color: var(--color-primary);
}

.container {
  padding: 0 2rem;
  margin: 0 auto;
}
@media all and (min-width: 1024px) {
  .container {
    width: 768px;
  }
}

.btn {
  border-radius: var(--border-radius);
  padding: 6px 18px;
  height: 40px;
  line-height: 28px;
  cursor: pointer;
  font-size: 1rem;
  background-color: var(--color-white);
  color: var(--color-black);
  display: block;
  margin: 0 auto;
  width: 100%;
  background-position: center;
  transition: background 0.8s;
}

@media all and (min-width: 768px) {
  .btn {
    width: 30%;
  }
}

/** HEADER -------------------------------------------------------------------*/
header {
  width: 100%;
}

h1 {
  font-size: 0;
  width: 1px;
  height: 1px;
  display: inline-block;
  overflow: hidden;
  position: absolute !important;
  border: 0 !important;
  padding: 0 !important;
  margin: 0 !important;
  clip: rect(1px, 1px, 1px, 1px);
}

.logo {
  padding: 1.5rem 0;
}

/** SEARCH -------------------------------------------------------------------*/
.search-box {
  position: relative;
  display: flex;
  flex-direction: row;
  color: var(--color-black);
  background-color: var(--color-white);
  box-shadow: var(--box-shadow);
  -webkit-box-shadow: var(--box-shadow);
  -moz-box-shadow: var(--box-shadow);
  border-radius: var(--border-radius);
  padding: 6px;
}

.search-btn {
  /* background-color: aqua; */
  margin: 0;
  padding: 0 6px;
  width: auto;
  margin-right: 6px;
}

.search-input {
  /* background-color: greenyellow; */
  height: 40px;
  text-align: left;
  width: 100%;
}
::-webkit-input-placeholder {
  color: #777;
}

.error {
  animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

.error > ::-webkit-input-placeholder {
  color: var(--color-red);
}

@keyframes shake {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }
  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }
  30%,
  50%,
  70% {
    transform: translate3d(-4px, 0, 0);
  }
  40%,
  60% {
    transform: translate3d(4px, 0, 0);
  }
}

.search-fixed {
  /* background-color: crimson; */
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  width: auto;
  margin-left: 6px;
}

.search-fixed > input {
  width: 16px;
  height: 16px;
  margin-right: 6px;
}

.search-fixed label {
  color: #777;
}

.location-btn {
  /* background-color: aqua; */
  margin: 0;
  padding: 0 6px;
  width: auto;
  margin-left: 6px;
}

.location-btn:disabled {
  color: #777;
}

/** RESPONSE -----------------------------------------------------------------*/
#response {
  font-size: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}
@media all and (min-width: 768px) {
  #response {
    flex-direction: row;
    flex-wrap: wrap;
  }
}
.updating {
  color: var(--color-white);
  background-color: var(--color-primary);
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

h2 {
  font-size: 1.2rem;
  text-transform: uppercase;
  margin-top: 1rem;
}

h3 {
  font-size: 1rem;
  text-transform: uppercase;
  margin-bottom: 1rem;
}

@media all and (min-width: 768px) {
  h2 {
    width: 100%;
  }
}

#response-cards {
  /* background-color: aqua; */
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card {
  background-color: var(--color-white);
  color: var(--color-black);
  width: 100%;
  min-height: 90px;
  border-radius: var(--border-radius);
  padding: 1rem;
  text-transform: uppercase;
  font-size: 1.2rem;
  box-shadow: var(--box-shadow);
  -webkit-box-shadow: var(--box-shadow);
  -moz-box-shadow: var(--box-shadow);
  margin-bottom: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card strong {
  font-size: 1.6rem;
  font-weight: 700;
}

@media all and (min-width: 768px) {
  .card {
    min-height: 200px;
    font-size: 1.6rem;
  }
  .card strong {
    font-size: 2rem;
  }
}

.card.available {
  color: var(--color-green);
}

.card.disabled {
  color: var(--color-red);
}

/** REFRESH ------------------------------------------------------------------*/
#refresh {
  position: relative;
}

.refresh-btn {
  color: var(--color-white);
  background-color: var(--color-secondary);
}

.refresh-btn:hover {
  background: #20599a radial-gradient(circle, transparent 1%, #20599a 1%) center/15000%;
}

.refresh-btn:active {
  background-color: #366aa4;
  background-size: 100%;
  transition: background 0s;
}

.last-update {
  font-size: 0.8rem;
  font-weight: 700;
  margin-top: 1rem;
}

/** FOOTER -------------------------------------------------------------------*/
footer {
  background-color: var(--color-black);
  padding: 3rem 0;
  margin-top: 2rem;
}

.author {
  font-size: 1rem;
}
@media all and (min-width: 768px) {
  footer .author {
    font-size: 1.2rem;
  }
}

.author i {
  color: var(--color-red);
}

.social {
  margin-top: 3rem;
}

.social a {
  text-decoration: none;
}

.social a:hover,
.social a:active {
  background-color: var(--color-white);
  background: var(--color-white);
  transition: none;
}

.disclaimer {
  width: 100%;
  margin-top: 3rem;
}

.disclaimer p {
  font-size: 0.8rem;
}
