/** VARIABLES ----------------------------------------------------------------*/
/* prettier-ignore */
:root {
  /* COLORS ------------------------------------------------------------------*/
  --color-primary:   #e66300;
  --color-secondary: #0a4990;
  --color-black:     #212121;
  --color-white:     #ffffff;
  --color-green:     #2e7d32;
  --color-red:       #c62828;
  /* BORDERS -----------------------------------------------------------------*/
  --border-radius:   6px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  text-align: center;
}

input,
input:active,
input:focus,
button,
button:active,
button:focus {
  border: none;
  outline: none;
}

a {
  color: inherit;
  font-weight: 700;
}

.btn {
  border-radius: var(--border-radius);
  padding: 6px 18px;
  height: 40px;
  line-height: 28px;
  cursor: pointer;
  font-size: 1rem;
  background-color: var(--color-white);
  color: var(--color-black);
  display: block;
  margin: 0 auto;
  width: 100%;
}
@media all and (min-width: 768px) {
  .btn {
    width: 30%;
  }
}

body {
  color: var(--color-white);
  background-color: var(--color-primary);
  min-height: 100vh;
}

.container {
  padding: 0 2rem;
  margin: 0 auto;
}
@media all and (min-width: 1024px) {
  .container {
    width: 768px;
  }
}

/** HEADER -------------------------------------------------------------------*/
header {
  width: 100%;
}

h1 {
  font-size: 0;
  width: 1px;
  height: 1px;
  display: inline-block;
  overflow: hidden;
  position: absolute !important;
  border: 0 !important;
  padding: 0 !important;
  margin: 0 !important;
  clip: rect(1px, 1px, 1px, 1px);
}

.logo {
  padding: 1.5rem 0;
}

/** SEARCH -------------------------------------------------------------------*/
.search {
  position: relative;
  display: flex;
  flex-direction: row;
}

.search-input {
  color: var(--color-black);
  padding: 6px 0 6px 10px;
  height: 40px;
  width: 100%;
  border-radius: var(--border-radius);
}

.search-btn {
  padding: 6px 0;
  position: absolute;
  right: 2rem;
  width: 40px;
}

/** RESPONSE -----------------------------------------------------------------*/
.response {
  font-size: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}
@media all and (min-width: 768px) {
  .response {
    flex-direction: row;
    flex-wrap: wrap;
  }
}
.updating {
  color: var(--color-white);
  background-color: var(--color-primary);
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

h2 {
  font-size: 1.6rem;
  margin-top: 1rem;
}
@media all and (min-width: 768px) {
  h2 {
    width: 100%;
  }
}

h3 {
  text-transform: uppercase;
  font-size: 1.2rem;
  margin-bottom: 1rem;
}
@media all and (min-width: 768px) {
  h3 {
    width: 100%;
  }
}

.card {
  background-color: var(--color-white);
  color: var(--color-black);
  width: 100%;
  min-height: 100px;
  border-radius: var(--border-radius);
  padding: 1rem;
  text-transform: uppercase;
  font-size: 1.2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 25px 15px -25px rgba(0, 0, 0, 0.5);
  flex: 1;
  margin-bottom: 1rem;
}

.card strong {
  font-size: 1.6rem;
  font-weight: 700;
}

@media all and (min-width: 768px) {
  .card {
    min-height: 200px;
    font-size: 1.6rem;
  }

  .card strong {
    font-size: 2rem;
  }
}

.card.available {
  color: var(--color-green);
}

.card.disabled {
  color: var(--color-red);
}

@media all and (min-width: 768px) {
  .card.available {
    margin-right: 1rem;
  }
  .card.disabled {
    margin-left: 1rem;
  }
}

.last-update {
  color: var(--color-black);
  font-size: 0.8rem;
  width: 100%;
}

/** REFRESH ------------------------------------------------------------------*/
.refresh {
  position: relative;
}

.refresh-btn {
  color: var(--color-white);
  background-color: var(--color-secondary);
  background-position: center;
  transition: background 0.8s;
  margin-top: 1rem;
}

.refresh-btn:hover {
  background: #20599a radial-gradient(circle, transparent 1%, #20599a 1%) center/15000%;
}
.refresh-btn:active {
  background-color: #366aa4;
  background-size: 100%;
  transition: background 0s;
}

/** FOOTER -------------------------------------------------------------------*/
footer {
  background-color: var(--color-black);
  padding: 3rem 0;
  margin-top: 2rem;
}

.author {
  font-size: 1rem;
}
@media all and (min-width: 768px) {
  footer .author {
    font-size: 1.2rem;
  }
}

.author i {
  color: var(--color-red);
}

.social {
  margin-top: 3rem;
}

.social a {
  text-decoration: none;
}

.social a:hover,
.social a:active {
  background-color: var(--color-white);
  background: var(--color-white);
  transition: none;
}

.disclaimer {
  width: 100%;
  margin-top: 3rem;
}

.disclaimer p {
  font-size: 0.8rem;
  text-align: justify;
}
